/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #999; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #777; 
}
@keyframes spinner-border {
    to { transform: rotate(360deg); }
}
.spinner-border {
    display: block;
    width: 2.5rem;
    height: 2.5rem;
    border: .2em solid currentColor;
    border-right-color: transparent;
    border-radius: 50%;
    -webkit-animation: spinner-border .75s linear infinite;
    animation: spinner-border .75s linear infinite;
}
.mytext-red {
    color: #981a36;
}
.center {
    margin: auto;
}
.main-footer {
    background: #fff;
    padding: 15px;
    color: #444;
    border-top: 1px solid #d2d6de;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.wrapper {
    min-height: 100vh !important;
}
.alert-area {
    width: 400px;
    position: absolute;
    right: -400px;
    bottom: 80px;
}
/* .nav-tabs-custom>.nav-tabs>li.active {
    border-top-color: #981a36;
} */

.skin-blue .main-header .navbar {
    background-color: #981a36;
}
.skin-blue .main-header .logo {
    background-color: #981a36;
    color: #fff;
    border-bottom: 0 solid transparent;
}
.skin-blue .main-header a.logo:hover {
    background-color: #981a36 !important;
}
.main-header a.sidebar-toggle:hover {
    background-color: #981a36 !important;
}
.skin-blue .main-header li.user-header {
    background-color: #981a36;
}
.skin-blue .sidebar-menu>li.active>a {
    border-left-color: #981a36;
}
.box.box-info {
    border-top-color: #981a36;
}
.box-body {
    position: relative;
}
div.toolbar {
    float: right;
}
.clear {
    clear: both;
}
.box-header {
    border-bottom: 1px solid #f1f1f1;
}
.probootstrap-pricing {
    text-align: center;
    padding: 0 30px;
    margin-bottom: 30px;
    border: 1px solid #ebebeb;
    font-family: "Open Sans",Arial,sans-serif;
    cursor: pointer;
}
div.probootstrap-pricing:hover {
    background-color: #f1f1f1 !important;
}
div.probootstrap-pricing.selected {
    border: 1px solid #981a36;
}
.probootstrap-pricing h2 {
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: .2em;
    color: #000;
    margin-bottom: 0;
}
.probootstrap-pricing .probootstrap-note {
    color: #bdbdbd;
    font-style: italic;
    font-size: 14px;
}
.probootstrap-list {
    padding: 0;
    margin: 0;
}
.probootstrap-pricing .probootstrap-price strong {
    font-size: 4rem;
    font-weight: 300;
    color: #981a36;
}
.mb50 {
    margin-bottom: 50px!important;
}
.mb20 {
    margin-bottom: 20px!important;
}
.mt50 {
    margin-top: 50px!important;
}
.btn-custom {
    background-color: #981a36;
    color: #fff;
}
a.btn-custom:hover {
    background-color: #6d1226;
    color: #fff;
}
button.btn-custom:hover {
    background-color: #6d1226;
    color: #fff;
}
.justify-content-center {
    -ms-flex-pack: center!important;
    justify-content: center!important;
}
.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.probootstrap-list li {
    list-style-type: none;
    position: relative;
}
.probootstrap-list li {
    margin: 0 0 10px;
    padding: 0;
    position: relative;
    list-style: none;
}
.probootstrap-check {
    color: #981a36;
}
.probootstrap-check i {
    position: absolute;
    top: 0.2em;
}
.probootstrap-check span {
    display: inline-block;
    color: #73767c;
    padding-left: 20px;
}
input.form-control:focus {
    border-color: #981a36;
}
textarea.form-control:focus {
    border-color: #981a36;
}
.btn-square {
    border-radius: 0;
}
#new_package_form button {
    margin-left: 20px;
}
#package-active {
    font-size: 1.5rem;
}
#process-table .btn {
    display: block;
    margin: auto;
}