.skin-blue .main-header .navbar {
    background-color: #981a36;
}
.skin-blue .main-header .logo {
    background-color: #981a36;
    color: #fff;
    border-bottom: 0 solid transparent;
}
.skin-blue .main-header a.logo:hover {
    background-color: #981a36 !important;
}
.main-header a.sidebar-toggle:hover {
    background-color: #981a36 !important;
}
.skin-blue .main-header li.user-header {
    background-color: #981a36;
}
.skin-blue .sidebar-menu>li.active>a {
    border-left-color: #981a36;
}
.box.box-info {
    border-top-color: #981a36;
}