body {
    padding-right: 0 !important;
}
.pb20 {
    padding-bottom: 20px !important;
}
@keyframes spinner-border {
    to { transform: rotate(360deg); }
}
.spinner-border {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    vertical-align: text-bottom;
    border: .2em solid currentColor;
    border-right-color: transparent;
    border-radius: 50%;
    -webkit-animation: spinner-border .75s linear infinite;
    animation: spinner-border .75s linear infinite;
}
.center {
    margin: auto;
}
.myalert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}
.myclose {
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2;
}
.mytext-red {
    color: #981a36;
}
.dropdown .img-thumbnail  {
    padding: 1px;
}
.dark-red {
    background-color: #6d1226 !important;
}
.dark-danger {
    background-color: #d43f3a !important;
}
.forgot-pwd {
    padding: 0px 10px;
    font-size: 14px;
    text-align: right;
}
#for-email {
    line-height: 41px;
}
.pwd-reset-form label {
    line-height: 50px;
}
.underline {
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
}
.text-primary {
    color: #981a36 !important;
}
.btn-disable {
    cursor: not-allowed !important;
}
.alert-white {
    color: #fff;
}
.probootstrap-section-heading {
    width: 100%;
}
.probootstrap-footer {
    padding: 1em 0;
    position: relative;
    background: #161e2c;
    color: #fff;
}
.probootstrap-hero .intro-text .probootstrap-subheading .btn {
    padding: 20px 40px;
    border-radius: 0;
    margin-right: 10px;
    border: 2px solid #981a36;
}
.btn.btn-primary {
    background: #981a36;
}
.btn.btn-primary:active, .btn.btn-primary:focus, .btn.btn-primary:hover {
    background: #6d1226;
    border-color: #6d1226;
}
.probootstrap-hero .intro-text .probootstrap-subheading .btn:hover {
    background: #6d1226;
    border-color: #6d1226;
}
.btn-primary {
    color: #fff;
    background-color: #981a36;
    border-color: #981a36;
}
.probootstrap-section.probootstrap-cta {
    background: #981a36;
    color: #fff;
    padding: 3em 0;
}
.probootstrap-pricing .probootstrap-price strong {
    font-size: 62px;
    font-weight: 300;
    color: #981a36;
}
.probootstrap-list li.probootstrap-check:before {
    color: #981a36;
    font-size: 16px;
    content: "\eb91";
}
.probootstrap-section-heading .probootstrap-heading:after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 70px;
    height: 2px;
    background: #981a36;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}
.probootstrap-form .form-control:focus {
    border-color: #981a36;
}
.probootstrap-navbar.scrolled .navbar-brand {
    top: 30px;
    color: #981a36;
}
.probootstrap-navbar.scrolled .navbar-nav>li.active>a {
    color: #981a36!important;
}
.btn.btn-black {
    color: #fff;
    background: #161e2c;
}
.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.justify-content-center {
    -ms-flex-pack: center!important;
    justify-content: center!important;
}
#qodef-back-to-top.on {
    opacity: 1;
    visibility: visible;
}
#qodef-back-to-top {
    position: fixed;
    width: 46px;
    right: 46px;
    bottom: 65px;
    margin: 0;
    z-index: 10000;
    -webkit-transition: opacity .15s ease-out,visibility .15s ease-out;
    transition: opacity .15s ease-out,visibility .15s ease-out;
}
#qodef-back-to-top>span {
    width: 46px;
    height: 46px;
    line-height: 43px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-align: center;
    display: block;
    color: #fff;
    font-size: 12px;
    background-color: #373737;
    opacity: .9;
    -webkit-transition: background-color .15s ease-out,color .15s ease-out,opacity .15s ease-out;
    transition: background-color .15s ease-out,color .15s ease-out,opacity .15s ease-out;
    box-sizing: border-box;
}
#qodef-back-to-top>span:hover {
    background-color: #6d1226;
}

@media screen and (max-width: 768px) {
    .probootstrap-navbar .navbar-brand {
        color: #981a36;
        line-height: 0;
        padding-left: 0;
    }
    .probootstrap-navbar .navbar-brand:hover {
        color: #6d1226;
    }
}
@media screen and (max-width: 500px) {
    #qodef-back-to-top {
        right: 20px;
        bottom: 25px;
    }
}

legend{
	color:#141823;
	font-size:25px;
	font-weight:bold;
}

.navbar-default .navbar-brand{
		color:#fff;
		font-size:30px;
		font-weight:bold;
}
.form .form-control { margin-bottom: 10px; }
#signup-modal .modal-header {
    padding-left: 50px;
}
#signup-modal .modal-body {
    padding: 20px 50px;
}
#signin-modal .modal-header {
    padding-left: 50px;
}
#signin-modal .modal-body {
    padding: 30px 50px 20px;
}
.myform .form-control {
    border-radius: 0;
}
.myform .form-control:focus {
    border: 1px solid #981a36;
    box-shadow: none;
}
.modal {
    top: 50px;
}
.form-control {
    display: block;
    width: 100%;
    height: 46px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
}
.index-1 .probootstrap-navbar.scrolled.awake {
    -webkit-transform: translateY(0);
    transform: translateY(0);
}
.index-1 .probootstrap-navbar.scrolled.sleep {
    -webkit-transform: translateY(0);
    transform: translateY(0);
}
.index-1 .probootstrap-navbar {
    top: 0;
    background: #fff;
    -webkit-box-shadow: 0 1px 3px 0 rgba(0,0,0,.09);
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.09);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    color: #981a36;
    -webkit-transform: translateY(0);
    transform: translateY(0);
}
.index-1 .probootstrap-navbar a.navbar-brand {
    top: 30px;
    color: #981a36 !important;
}
.index-1 .probootstrap-navbar li.active>a {
    color: #981a36!important;
}
.index-1 .col-md-12 {
    position: relative;
    min-height: 1px;
    padding-right: 0;
    padding-left: 0;
}

/* file upload */
.files #resumable-browse {
    outline: 2px dashed #981a36;
    outline-offset: -10px;
    -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
    transition: outline-offset .15s ease-in-out, background-color .15s linear;
    padding: 120px 0px 85px 35%;
    text-align: center !important;
    margin: 0;
    width: 100% !important;
    cursor: pointer;
}
.files #resumable-browse:focus{     outline: 2px dashed #981a36;  outline-offset: -10px;
    -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
    transition: outline-offset .15s ease-in-out, background-color .15s linear; border:1px solid #981a36;
 }
 .files #resumable-browse:hover {
    background-color: #ccc;
    outline: 2px dashed #981a36;  outline-offset: -10px;
    -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
    transition: outline-offset .15s ease-in-out, background-color .15s linear; border:1px solid #981a36;
 }
.files{ position:relative}
.files:after {  pointer-events: none;
    position: absolute;
    top: 40px;
    left: 0;
    width: 50px;
    right: 0;
    height: 56px;
    content: "";
    background-image: url(https://image.flaticon.com/icons/png/128/109/109612.png);
    display: block;
    margin: 0 auto;
    background-size: 100%;
    background-repeat: no-repeat;
}
.color input{ background-color:#f1f1f1;}
.files:before {
    position: absolute;
    top: 150px;
    left: 0;  pointer-events: none;
    width: 100%;
    right: 0;
    height: 57px;
    content: " or drag it here. ";
    display: block;
    margin: 0 auto;
    color: #981a36;
    font-weight: 600;
    text-transform: capitalize;
    text-align: center;
}
#avatar {
    height: 70px;
}

#avatar img {
    width: 50px;
    height: 50px;
}
#avatar ul li {
    padding: 10px;
}
#avatar ul li.divider {
    padding: 0;
}
#avatar ul li:hover {
    background-color: #f1f1f1;
}
#avatar ul li a:hover {
    background-color: #f1f1f1;
}
.probootstrap-navbar .navbar-nav>li>.my-dropdown-menu:before {
    border: 1px solid #fff;
    content: "";
    position: absolute;
    top: -20px;
    left: 40px;
    border-color: rgba(133,200,221,0);
    border-bottom-color: #fff;
    border-width: 10px;
    margin-left: -10px;
}
.my-dropdown-menu .divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #e5e5e5;
}
.navbar-nav>li>.my-dropdown-menu li {
    list-style-type: none;
}
.probootstrap-navbar .my-dropdown-menu {
    border: none;
    background: #fff;
    border-radius: 0;
    -webkit-box-shadow: 0 0 7px 0 rgba(0,0,0,.15);
    box-shadow: 0 0 7px 0 rgba(0,0,0,.15);
    min-width: 200px;
    white-space: normal;
    word-wrap: break-word;
}
#profile-btn {
    display: inline-block !important;
}
.my-dropdown-menu {
    padding-left: 0;
    font-size: .7rem;
    position: absolute;
}
.invalid-feedback {
    color: #981a36;
    font-weight: 200;
    display: block;
}
.must_show {
    display: block !important;
}
#dbStore-spinner {
    width: 2.5rem;
    height: 2.5rem;
}
#process-form {
    padding: 10px 0;
    background: #fff;
    margin-bottom: 50px;
    box-shadow: none;
}
.left {
    display: block;
    float: left;
}
.right {
    display: block;
    float: right;
}
.clear {
    clear: both;
}
.file-info {
    width: 300px;
    margin: 0 auto;
}
footer {
    z-index: 4;
    position: relative;
}
@media (min-width:768px) {
	#home{
		margin-top:50px;
	}
	#home .slogan{
		color: #981a36;
		line-height: 29px;
		font-weight:bold;
    }
    .index-1 footer {
        position: fixed !important;
        bottom: 0;
        width: 100%;
    }
}
@media (min-width:500px) {
    #mobile-completed-list-table {
        display: none;
    }
    #mobile-in-process-table {
        display: none;
    }
    .pc-hide {
        display: none;
    }
    .btn {
        border-radius: 0;
        font-size: 16px;
        padding: 10px 40px;
    }
    .index-1 .probootstrap-navbar a {
        color: #161e2c !important;
    }
    .none-fixed-footer .probootstrap-navbar a {
        color: rgba(0,0,0,.7) !important;
    }
    .navbar-nav>li>.my-dropdown-menu {
        margin-top: -15px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
}
@media (max-width: 500px) {
    #signup-modal .modal-header {
        padding-left: 10px;
    }
    #signup-modal .modal-body {
        padding: 10px;
    }
    #signin-modal .modal-header {
        padding-left: 10px;
    }
    #signin-modal .modal-body {
        padding: 10px;
    }
    .index-1 footer {
        width: 100%;
        padding-left: 10px;
    }
    .probootstrap-navbar .navbar-brand {
        color: #981a36;
        line-height: 0;
        padding-left: 0;
    }
    .mobile-hide {
        display: none;
    }
    .dataTables_info {
        display: none;
    }
    #dash-right {
        /* overflow: auto; */
    }
    .dataTables_length {
        display: none;
    }
    .mobile-left .dataTables_filter label{
        float: left;
    }
    .mobile-left .pagination{
        float: left;
    }
    #completed-list-table {
        display: none;
    }
    #in-process-table {
        display: none;
    }
    .chang_pwd_area {
        height: 100vh;
    }
    .completed_area {
        height: 100vh;
    }
    .navbar-collapse.in {
        overflow-y: unset;
    }
    .btn {
        border-radius: 0;
        font-size: 16px;
        padding: 10px 12px;
    }
    .navbar-nav>li>.my-dropdown-menu {
        margin-top: 0;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
}
#mobile-completed-list-table td {
    text-align: center;
}


.v-center {
    height: 50%;
    vertical-align: middle;
}
#poster {
    height: 42px;
}
.f_progress {
    margin-top: 20px;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.f_progress p {
    padding: 0;
    margin: 0;
}
.f_progress .row {
    margin: 0;
}
.myProgress {
    width: 100%;
    background-color: #a3df81;
}
.myBar {
    width: 0%;
    height: 8px;
    background-color: #3ea200;
}
.f_close {
    float: right;
    cursor: pointer;
    font-size: 25px;
    color: #3ea200;
    font-weight: bold;
    padding: 0;
    margin: 0;
}

#resumable-drop p {
    margin-bottom: 0;
}
.cus_sel_box {
    width: 100%;
    height: 30px;
    margin: 5px;
    border: 1px solid #ccc;
    color: #555;
    font-size: .7rem;
}
.cus_sel_box:focus {
    border: 1px solid #981a36;
    outline: none;
}
.mb0 {
    margin-bottom: 0 !important;
}
.pt0 {
    padding-top: 0 !important;
}
.mt20 {
    margin-top: 50px !important;
}
#upload-btn {
    width: 157.59px;
}
#tostep2-btn {
    width: 154.94px;
}
.header_label {
    font-weight: 200;
    margin-left: 5px;
    font-size: .9em;
}
.required_mark {
    color: #f00 !important;
}

.dataTables_length select {
    border-radius: 0 !important;
}
.dataTables_length select:focus {
    border-color: #981a36 !important;
    outline: none !important;
    box-shadow: none;
}
.dataTables_filter input {
    border-radius: 0 !important;
}
.dataTables_filter input:focus {
    border-color: #981a36 !important;
    outline: none !important;
    box-shadow: none;
}
#completed-list-table tr {
    position: relative;
    z-index: 5;
}
.download-btn {
    height: 30px;
    text-align: center;
    margin: auto;
    line-height: 7px !important;
    font-size: 14px;
    position: relative;
}
.info_tab {
    margin-top: 0 !important;
}
.avatar {
    width: 202px;
    height: 202px;
}
#brand-img{
    width: 202px;
    height: 202px;
}

.none-fixed-footer .probootstrap-navbar.scrolled.awake {
    -webkit-transform: translateY(0);
    transform: translateY(0);
}
.none-fixed-footer .probootstrap-navbar.scrolled.sleep {
    -webkit-transform: translateY(0);
    transform: translateY(0);
}
.none-fixed-footer .probootstrap-navbar {
    top: 0;
    background: #fff;
    -webkit-box-shadow: 0 1px 3px 0 rgba(0,0,0,.09);
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.09);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    color: #981a36;
    -webkit-transform: translateY(0);
    transform: translateY(0);
}
.none-fixed-footer .probootstrap-navbar a.navbar-brand {
    top: 30px;
    color: #981a36 !important;
}
.none-fixed-footer .probootstrap-navbar li.active>a {
    color: #981a36!important;
}
.none-fixed-footer .col-md-12 {
    position: relative;
    min-height: 1px;
    padding-right: 0;
    padding-left: 0;
}
#package-page h2.title {
    font-size: 2rem;
}
.probootstrap-pricing {
    text-align: center;
    padding: 0 30px;
    margin-bottom: 30px;
    border: 1px solid #ebebeb;
}

.mytext-dark-blue {
    color: #161e2c !important;
}